# Configuración del servidor
PORT=3001

# Base de datos (Requerida por Prisma para guardar los Tokens FCM)
DATABASE_URL="postgresql://USUARIO:PASSWORD@HOST:PUERTO/notifications_db?schema=public"

# Configuración de RabbitMQ (Event Bus)
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# Credenciales para envío de correos (Nodemailer)
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password
